<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Купить</title>
</head>
<body>
<div class="container">
    <h1>Оформите покупку</h1>

    <div class="car-card">
        <h2>Модель: {{ car.model }}</h2>
        <p>Цена: {{ car.price }}</p>
        <p>Компания: {{ car.company_name }}</p>
        <p>Год: {{ car.year_of_production }}</p>
        <p>Страна: {{ car.country_of_production }}</p>
        <p>Мощность Двигателя: {{ car.power }}</p>
        <p>Пробег: {{ car.mileage }}</p>
        <p>КПП: {{ car.transmission }}</p>
        <p>Привод: {{ car.actuator }}</p>
        <p>Цвет: {{ car.color }}</p>
        <p>Руль: {{ car.steering_wheel }}</p>
        <p>Кузов: {{ car.body }}</p>
        <p>Объем двигателя: {{ car.engine_displacement }}</p>
        <p>Состояние: {{ car.status }}</p>
        <form action="/buy/{{ car.id }}" method="POST">
            <input type="hidden" name="car_model" value="mmmmonsterkill">
            <button type="submit">Купить</button>
            <a href="/market" type="button" class="btn-close rounded float-end position-absolute top-0 end-0 m-3"
               aria-label="Закрыть"></a>
        </form>
    </div>
</div>
</body>
</html>